---
import { desktopIcons, windows } from "../data";

import Layout from "../layouts/Layout.astro";

import Window from "../components/Window.astro";
import DesktopIcon from "../components/DesktopIcon.astro";
---

<Layout title="Home - My Awesome Website">
  <div class="desktop">
    <div class="desktop-icons">
      {
        desktopIcons.map((icon) => (
          <DesktopIcon
            icon={icon.icon}
            title={icon.title}
            description={icon.description}
            windowTarget={icon.windowTarget}
            tabTarget={icon.tabTarget}
          />
        ))
      }

      {
        windows.map((window) => (
          <Window
            id={window.id}
            icon={window.icon}
            title={window.title}
            buttons={window.buttons}
          >
            <div set:html={window.content} />
          </Window>
        ))
      }
    </div>

    <div class="processes"></div>
  </div>
</Layout>

<style>
  .desktop {
    display: grid;
    gap: var(--size-4);

    height: 100%;

    grid-template-columns: auto 1fr 10ch;

    .desktop-icons {
      position: relative;

      grid-row: 1 / -1;
      grid-column: 1 / -1;

      display: grid;
      place-content: start;
      gap: var(--size-4);

      grid-template-columns: subgrid;

      button {
        grid-column: 1 / 2;
      }

      .window {
        grid-column: 2 / 3;
      }
    }

    .processes {
      display: grid;

      place-content: center;

      grid-row: 1 / -1;
      grid-column: 2 / 3;
    }
  }
</style>
