---
import { Icon } from "astro-icon/components";

import Logo from "../assets/images/logo.svg";
import Volume from "../assets/images/volume.svg";

import ProgramFolder from "../assets/images/program-folder.svg";
import DocumentsFolder from "../assets/images/documents-folder.svg";
import Settings from "../assets/images/settings.svg";
import Internet from "../assets/images/internet.svg";

import Button from "./Button.astro";
import Dropdown from "./Dropdown.astro";
import Tab from "./Tab.astro";
---

<div class="bottom-bar">
  <div class="flex gap-2 items-center">
    <Button id="start-button" text="" icon size="sm" dropdownToggle="dropdown">
      <img src={Logo.src} width="20" alt="Windows 98 logo" />
      <span>Start</span>
    </Button>

    <!-- Dropdown menu -->
    <Dropdown id="dropdown">
      <ul>
        <li>
          <Button
            text=""
            icon
            variant="no-shadow"
            dropdownToggle="dropdown-programs"
            dropdownPlacement="right-start"
          >
            <div class="flex gap-3 items-center">
              <img src={ProgramFolder.src} alt="" width="40" />
              Programs
            </div>

            <Icon style="margin-left: auto;" name="caret-right" size={16} />
          </Button>

          <Dropdown id="dropdown-programs">
            <ul>
              <li>
                <button class="flex gap-3 items-center">
                  <img src={ProgramFolder.src} alt="" width="40" />
                  Games
                </button>
              </li>
            </ul>
          </Dropdown>
        </li>

        <li>
          <button class="flex gap-3 items-center">
            <img src={DocumentsFolder.src} alt="" width="40" />
            Documents
          </button>
        </li>

        <li>
          <button class="flex gap-3 items-center">
            <img src={Settings.src} alt="" width="40" />
            Settings
          </button>
        </li>
      </ul>
    </Dropdown>

    <div class="tabs">
      <ul role="list" class="flex gap-2 m-0">
        <li>
          <Tab active title="Internet Explorer" icon={Internet.src} />
        </li>
      </ul>
    </div>

    <div class="notifications">
      <div class="flex gap-2 text-black">
        <img src={Volume.src} width="20" alt="Volume" />
        <span class="time"></span>
      </div>
    </div>
  </div>
</div>

<style>
  .bottom-bar {
    --_shadow: inset 2px 2px #f0f0f0;

    box-shadow: var(--_shadow);

    align-self: end;

    background-color: var(--color-neutral-100);

    padding: var(--size-2);

    .notifications {
      --_shadow: inset -2px -2px #f0f0f0, inset 2px 2px #7e7e7e;

      padding: var(--size-1) var(--size-2);
      margin-inline-start: auto;

      box-shadow: var(--_shadow);
    }
  }
</style>

<script>
  const bottomBar = document.querySelector(".bottom-bar");

  if (bottomBar) {
    const time = bottomBar.querySelector(".time")!;

    function runTime() {
      const date = new Date();

      time.textContent = `${date.toLocaleString("en-US", {
        hour: "numeric",
        minute: "numeric",
        hour12: true,
      })}`;

      requestAnimationFrame(runTime);
    }

    requestAnimationFrame(runTime);
  }
</script>
